.ProductPage {
	margin-top: 40px;
	margin-bottom: 50px;
	.cardProducts {
		margin-top: 60px;
		display: flex;
		gap: 50px;
		flex-wrap: wrap;
		.cardProduct {
			img {
				width: 380px;
				height: 550px;
				object-fit: cover;
				object-position: center;
			}
			.favoriteHeart {
				margin-left: 350px;
				img {
					cursor: pointer;
					width: 29px;
					height: 26px;
				}
			}
			.editInputs {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 30px;
				input {
					width: 380px;
					height: 60px;
					border-radius: 10px;
					background-color: white;
					color: black;
					border: 2px solid blue;
				}
				button {
					width: 140px;
					height: 40px;
					border: 2px solid blueviolet;
					background-color: white;
					color: blueviolet;
					border-radius: 10px;
				}
			}
		}
	}
	.buttons {
		display: flex;
		gap: 960px;
	}
}
